# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/

# Entorno
.env
*.env

# Base de datos
*.db
*.sqlite3

# Migraciones
backend/migrations/

# Env examples (contienen datos sensibles locales)
.env.example
**/.env.example

# Dependencias raíz (no deben subirse)
requirements.txt

# Node
node_modules/
dist/
.DS_Store
frontend/package-lock.json

# IDE
.vscode/
.idea/
*.swp
